@charset "UTF-8";
/* Font Declaration */
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}
/* Font Variables */
/* Common Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "NanumBarunGothic", "Nanum Gothic", sans-serif;
  scroll-behavior: smooth;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

#wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

/* 네비게이션 바 */
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}
nav .nav-container {
  display: flex;
  position: absolute;
  justify-content: space-between;
  gap: 60px 60px 5px;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0 0.8rem;
  border-bottom: 1px solid rgba(130, 130, 130, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
nav .nav-logo {
  width: 20%;
}
nav .nav-button {
  width: 10%;
}
nav .nav-logo .menu-logo a {
  height: 60px;
}
nav .nav-logo .menu-logo a img {
  height: 3rem;
}
nav .nav-menu {
  width: 60%;
}
nav .nav-menu ul.menu-link {
  width: 100%;
  display: flex;
  justify-content: center;
}
nav .nav-menu ul.menu-link > li > a {
  color: #2F2521;
  position: relative;
  display: inline-block;
  margin: 0 60px;
}
nav ul.menu-link > li > a:hover {
  text-decoration: none;
}
nav ul.menu-link > li > a:after {
  content: "";
  position: relative;
  display: block;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #2F2521;
  transform: scaleX(0);
  transform-origin: 100% 0;
  /* transform-origin: 0 0; */
  transition: transform 0.3s cubic-bezier(0.45, 0.46, 0.05, 0.96);
}
nav ul.menu-link > li > a:hover:after {
  transform: scaleX(1);
  transform-origin: 0 0;
  transition: transform 0.5s cubic-bezier(0.45, 0.46, 0.05, 0.96);
}

.nav-login-register {
  width: 10%;
}
.nav-login-register .login-register-link {
  display: flex;
  justify-content: space-around;
  text-align: right;
}
.nav-login-register .login-register-link > li > a {
  display: inline-block;
  font-size: 0.9rem;
  color: #58463f;
}
.nav-login-register .login-register-link > li > a:after {
  content: "";
  position: relative;
  display: block;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #58463f;
  transform: scaleX(0);
  transform-origin: 100% 0;
  /* transform-origin: 0 0; */
  transition: transform 0.3s cubic-bezier(0.45, 0.46, 0.05, 0.96);
}
.nav-login-register .login-register-link > li > a:hover:after {
  transform: scaleX(1);
  transform-origin: 0 0;
  transition: transform 0.5s cubic-bezier(0.45, 0.46, 0.05, 0.96);
}

.nav-button {
  text-align: right;
  height: 5rem;
}
.nav-button .btn-container {
  width: 8rem;
  height: 2.5rem;
  border-radius: 20px;
  background: #2F2521;
  display: inline-block;
  margin-top: 1.25rem;
  cursor: pointer;
  z-index: 9;
  position: relative;
}

.nav-container .btn {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  overflow: hidden;
  width: 7.8rem;
  height: 2.3rem;
  background: #2F2521;
  border-radius: 30px;
}
.nav-container .btn .txt {
  position: relative;
  z-index: 2;
  display: block;
  line-height: 2.3rem;
  text-align: center;
  right: 1rem;
  color: #FCF6EC;
}
.nav-container .btn::before {
  content: "";
  display: block;
  width: 7.8rem;
  height: 2.3rem;
  border-radius: 30px;
  background: #FCF6EC;
  position: absolute;
  top: 0rem;
  left: 8rem;
  transition: linear 0.4s;
  z-index: 1;
}

.btn-container:hover .btn::before {
  left: 0;
}
.btn-container:hover .txt {
  color: #2F2521;
  font-weight: bold;
  transition: linear 0.5s;
}

.nav-container .btn .txt .icon {
  width: 2.3rem;
  height: 2.3rem;
  background: #FCF6EC;
  border-radius: 50%;
  position: absolute;
  top: 0rem;
  left: 6.5rem;
  z-index: 3;
}
.nav-container .btn .txt .icon img {
  width: 12px;
}
.nav-container .btn::after {
  content: "";
  display: block;
  clear: both;
}

/* 아이디/비밀번호 변경 페이지 시작 */
header {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}
header h1 {
  color: #2F2521;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
}

.tabs {
  position: static;
}
.tabs .tabs-container {
  display: flex;
  width: 1300px;
  margin: 100px auto;
  justify-content: center;
  box-sizing: border-box;
  border-collapse: collapse;
}

.tab {
  width: 50%;
  height: 2.5rem;
  padding: 30px 0;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  text-align: center;
  outline: none;
  font-size: 1.4rem;
}
.tab.active {
  border: 1px solid #EB9C00;
  border-bottom: 0;
  color: #EB9C00;
  font-weight: bold;
}
.tab:not(.active) {
  border: 0;
  border-bottom: 1px solid #EB9C00;
  color: #222;
}

/* main영역 */
.content {
  width: 1300px;
  display: none;
  margin: 0 auto;
  margin-bottom: 100px;
}
.content.active {
  display: block;
}

.sub-tit {
  font-size: 2rem;
}

.sub-txt {
  font-size: 1rem;
  color: #666;
  margin: 10px 0 50px 0;
}

.page1 {
  letter-spacing: 1px;
}
.page1 form {
  width: 100%;
}
.page1 .input-name {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bolder;
}
.page1 .input-name > p {
  width: 150px;
}
.page1 .input-name input[type=text] {
  width: 550px;
  height: 50px;
  outline: none;
  padding-left: 1.2em;
  margin: 15px;
  border: 0.8px solid #222;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
}
.page1 .input-email {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bolder;
}
.page1 .input-email > p:first-child {
  width: 150px;
}
.page1 .input-email input[type=text] {
  width: 250px;
  height: 50px;
  outline: none;
  padding-left: 1.2em;
  margin: 15px;
  border: 0.8px solid #222;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
}
.page1 .input-email select {
  width: 250px;
  height: 50px;
  outline: none;
  padding: 0 1.2em;
  border: 0.8px solid #222;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  cursor: pointer;
}

.btn-container {
  margin-top: 50px;
  text-align: center;
}

button {
  width: 250px;
  height: 63px;
  border-radius: 30px;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.btn-cancel {
  color: #222;
  border: 0.7px solid #222;
  margin: 0 5px;
}

.btn-confirm {
  color: #fff;
  font-weight: lighter;
  border: 0.7px solid #EB9C00;
  background-color: #EB9C00;
  margin: 0 5px;
}

::-moz-placeholder {
  color: rgb(213, 212, 212);
  font-size: 1rem;
  color: rgb(213, 212, 212);
  font-size: 1rem;
}

:-ms-input-placeholder {
  color: rgb(213, 212, 212);
  font-size: 1rem;
}

::placeholder {
  color: rgb(213, 212, 212);
  font-size: 1rem;
}

.page1 {
  width: 100%;
  padding: 25px 108px 25px 108px;
  border-top: 2px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.page1[aria-hidden=false] {
  display: block;
}
.page1 img {
  width: 40%;
}
.page1 p {
  color: #222;
  line-height: 1.5;
}

.page-controls {
  width: 1300px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  position: static;
  text-align: center;
}
.page-controls button {
  margin: 5px;
  padding: 10px 15px;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  color: #888;
}
.page-controls button.active {
  border: 1px solid #EB9C00;
  color: #EB9C00;
}

/* footer */
footer {
  width: 100%;
  height: 340px;
  background: #3A302C;
  /* background: #2F2521; */
  /* display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding: 2.5rem;
  box-sizing: border-box; */
}
footer .footer-container {
  width: 1300px;
  height: 340px;
  /* background: #99A; */
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding: 2.5rem 0;
  box-sizing: border-box;
  margin: 0 auto;
}
footer p, footer .f-nav li a, footer b, footer h4 {
  color: #eae1dd;
}

.footer-logo img {
  width: 300px;
}
.footer-logo p.txt {
  margin: 30px 0 60px 0;
  line-height: 1.5;
}
.footer-logo p.copyright {
  font-size: 0.8rem;
}

footer .footer-nav .f-nav ul li {
  margin-bottom: 10px;
}

.footer-right h4, .footer-right p {
  margin-bottom: 10px;
}
.footer-right .number {
  margin-bottom: 40px;
}
.footer-right a {
  margin-right: 10px;
  display: inline-block;
  width: 23px;
}
.footer-right a img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* top버튼 */
#top-btn {
  position: fixed;
  bottom: 3rem;
  right: 2.5rem;
  z-index: 500;
}
#top-btn i {
  color: #EB9C00;
  font-size: 1.5rem;
  display: none;
}

/*# sourceMappingURL=index-find-userinfo.css.map *//*# sourceMappingURL=index-find-userinfo.css.map */