@charset "UTF-8";
/* Font Declaration */
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}
/* Font Variables */
/* Page-1 arrow down */
@-webkit-keyframes arrow_down {
  0%, 100% {
    top: 0rem;
  }
  50% {
    top: 0.5rem;
  }
}
@keyframes arrow_down {
  0%, 100% {
    top: 0rem;
  }
  50% {
    top: 0.5rem;
  }
}
/* Common Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "NanumBarunGothic", "Nanum Gothic", sans-serif;
  scroll-behavior: smooth;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

/* 네비게이션 바 */
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}
nav .nav-container {
  display: flex;
  position: absolute;
  justify-content: space-between;
  gap: 60px 60px 5px;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0 0.8rem;
  border-bottom: 1px solid rgba(130, 130, 130, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
nav .nav-logo {
  width: 20%;
}
nav .nav-button {
  width: 10%;
}
nav .nav-logo .menu-logo a {
  height: 60px;
}
nav .nav-logo .menu-logo a img {
  height: 3rem;
}
nav .nav-menu {
  width: 60%;
}
nav .nav-menu ul.menu-link {
  width: 100%;
  display: flex;
  justify-content: center;
}
nav .nav-menu ul.menu-link > li > a {
  color: #2F2521;
  position: relative;
  display: inline-block;
  margin: 0 60px;
}
nav ul.menu-link > li > a:hover {
  text-decoration: none;
}
nav ul.menu-link > li > a:after {
  content: "";
  position: relative;
  display: block;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #2F2521;
  transform: scaleX(0);
  transform-origin: 100% 0;
  /* transform-origin: 0 0; */
  transition: transform 0.3s cubic-bezier(0.45, 0.46, 0.05, 0.96);
}
nav ul.menu-link > li > a:hover:after {
  transform: scaleX(1);
  transform-origin: 0 0;
  transition: transform 0.5s cubic-bezier(0.45, 0.46, 0.05, 0.96);
}

.nav-login-register {
  width: 10%;
}
.nav-login-register .login-register-link {
  display: flex;
  justify-content: space-around;
  text-align: right;
}
.nav-login-register .login-register-link > li > a {
  display: inline-block;
  font-size: 0.9rem;
  color: #58463f;
}
.nav-login-register .login-register-link > li > a:after {
  content: "";
  position: relative;
  display: block;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #58463f;
  transform: scaleX(0);
  transform-origin: 100% 0;
  /* transform-origin: 0 0; */
  transition: transform 0.3s cubic-bezier(0.45, 0.46, 0.05, 0.96);
}
.nav-login-register .login-register-link > li > a:hover:after {
  transform: scaleX(1);
  transform-origin: 0 0;
  transition: transform 0.5s cubic-bezier(0.45, 0.46, 0.05, 0.96);
}

.nav-button {
  text-align: right;
  height: 5rem;
}
.nav-button .btn-container {
  width: 8rem;
  height: 2.5rem;
  border-radius: 20px;
  background: #2F2521;
  display: inline-block;
  margin-top: 1.25rem;
  cursor: pointer;
  z-index: 9;
  position: relative;
}

.nav-container .btn {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  overflow: hidden;
  width: 7.8rem;
  height: 2.3rem;
  background: #2F2521;
  border-radius: 30px;
}
.nav-container .btn .txt {
  position: relative;
  z-index: 2;
  display: block;
  line-height: 2.3rem;
  text-align: center;
  right: 1rem;
  color: #FCF6EC;
}
.nav-container .btn::before {
  content: "";
  display: block;
  width: 7.8rem;
  height: 2.3rem;
  border-radius: 30px;
  background: #FCF6EC;
  position: absolute;
  top: 0rem;
  left: 8rem;
  transition: linear 0.4s;
  z-index: 1;
}

.btn-container:hover .btn::before {
  left: 0;
}
.btn-container:hover .txt {
  color: #2F2521;
  font-weight: bold;
  transition: linear 0.5s;
}

.nav-container .btn .txt .icon {
  width: 2.3rem;
  height: 2.3rem;
  background: #FCF6EC;
  border-radius: 50%;
  position: absolute;
  top: 0rem;
  left: 6.5rem;
  z-index: 3;
}
.nav-container .btn .txt .icon img {
  width: 12px;
}
.nav-container .btn::after {
  content: "";
  display: block;
  clear: both;
}

/* 소개, 캠페인, 후원 시작 */
header {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  position: relative;
  background: #000;
  z-index: 1;
}
header::after {
  background: url("../assets/sub-page-1-banner1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
header h1 {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

.tabs {
  position: static;
  /*position:sticky; 해제제*/
}
.tabs .tabs-container {
  display: flex;
  width: 1300px;
  margin: 100px auto;
  justify-content: center;
  box-sizing: border-box;
  border-collapse: collapse;
}

.tab {
  width: 50%;
  padding: 30px 0;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  text-align: center;
  outline: none;
  /* transition: all 0.3s ease; */
  font-size: 1.4rem;
}
.tab.active {
  border: 1px solid #EB9C00;
  border-bottom: 0;
  color: #EB9C00;
  font-weight: bold;
}
.tab:not(.active) {
  border: 0;
  border-bottom: 1px solid #EB9C00;
  color: #222;
}

/* 탭 콘텐츠 - 소개 스타일 */
.content {
  display: none;
}
.content.active {
  display: block;
}

section {
  width: 1300px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 100px;
  /* background: palegoldenrod; */
}

#content1 .tab-cont-wrapper .logo-img {
  width: 300px;
  height: auto;
  margin: 0 auto;
}
#content1 .tab-cont-wrapper .logo-img img {
  width: 100%;
}
#content1 .tab-cont-wrapper > h1 {
  margin-bottom: 1.875rem;
  font-weight: normal;
  text-align: center;
  margin: 50px 0;
  color: #222;
}
#content1 .tab-cont-wrapper > p {
  line-height: 1.8;
  font-weight: normal;
  text-align: center;
  margin-bottom: 100px;
  color: #222;
}
#content1 ul {
  width: 700px;
  height: auto;
  margin: 0 auto;
}
#content1 ul li {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}
#content1 ul > li > img {
  width: 100%;
  border-radius: 10px;
}
#content1 ul > li > .content-tit {
  font-size: 1.3rem;
  font-weight: bold;
  color: #222;
  margin: 40px 0;
}
#content1 ul > li > .content-txt {
  color: #222;
  line-height: 1.5;
}
#content1 .tab-cont-wrapper > h2 {
  font-weight: lighter;
  margin: 5rem 0;
}

/* 탭 콘텐츠 - 캠페인 스타일 */
.tab-cam-wrapper {
  width: 100%;
}
.tab-cam-wrapper ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.tab-cam-wrapper .campaign-box {
  margin-bottom: 5rem;
}
.tab-cam-wrapper .campaign-box .campaign-box-container {
  width: 31.25rem;
  height: 100%;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.tab-cam-wrapper .campaign-box .campaign-box-container .cam-content {
  text-align: left;
  padding: 0.9375rem;
}
.tab-cam-wrapper .campaign-box .campaign-box-container .cam-content .cam-cont-tit {
  font-weight: bold;
  font-size: 1rem;
}
.tab-cam-wrapper .campaign-box .campaign-box-container .cam-content .cam-cont-cont {
  font-size: 0.9rem;
  color: rgb(67, 66, 66);
}
.tab-cam-wrapper .campaign-box .campaign-box-container .cam-content p:last-child {
  margin-top: 0.625rem;
}
.tab-cam-wrapper .campaign-box:last-child {
  margin-bottom: 0;
}
.tab-cam-wrapper .campaign-box .cam-img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

/* 탭 콘텐츠 - 후원하기 스타일 */
#content3 .top-banner {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  position: relative;
  background: #cfcec4;
  z-index: 1;
  text-align: center;
  padding: 100px 0;
  box-sizing: border-box;
}
#content3 .top-banner::after {
  background: url("../assets/introduction-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#content3 > .tab-cont-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}
#content3 .tab-cont-wrapper .top-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#content3 .tab-cont-wrapper .top-banner .sponsor-tit {
  color: #3A302C;
  font-weight: bold;
  font-size: 2.5rem;
  /* margin-bottom: 50px; */
}
#content3 .tab-cont-wrapper .top-banner .sponsor-cont {
  color: #3A302C;
  font-weight: bold;
  line-height: 2;
}
#content3 .tab-cont-wrapper .top-banner .sponsor-cont span {
  color: #222;
  font-size: 0.8rem;
  font-weight: bold;
}
#content3 .tab-cont-wrapper .top-banner .sponsor-cont-black {
  font-size: 0.8rem;
}
#content3 .tab-cont-wrapper .top-banner button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #EB9C00;
  text-align: center;
  margin: 0 20px;
}
#content3 .tab-cont-wrapper .top-banner button > a {
  color: #fff;
}

/* footer */
footer {
  width: 100%;
  height: 340px;
  background: #3A302C;
  /* background: #2F2521; */
  /* display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding: 2.5rem;
  box-sizing: border-box; */
}
footer .footer-container {
  width: 1300px;
  height: 340px;
  /* background: #99A; */
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding: 2.5rem 0;
  box-sizing: border-box;
  margin: 0 auto;
}
footer p, footer .f-nav li a, footer b, footer h4 {
  color: #eae1dd;
}

.footer-logo img {
  width: 300px;
}
.footer-logo p.txt {
  margin: 30px 0 60px 0;
  line-height: 1.5;
}
.footer-logo p.copyright {
  font-size: 0.8rem;
}

footer .footer-nav .f-nav ul li {
  margin-bottom: 10px;
}

.footer-right h4, .footer-right p {
  margin-bottom: 10px;
}
.footer-right .number {
  margin-bottom: 40px;
}
.footer-right a {
  margin-right: 10px;
  display: inline-block;
  width: 23px;
}
.footer-right a img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* top버튼 */
#top-btn {
  position: fixed;
  bottom: 3rem;
  right: 2.5rem;
  z-index: 500;
}
#top-btn i {
  color: #EB9C00;
  font-size: 1.5rem;
}

/*# sourceMappingURL=sub-page-1.css.map *//*# sourceMappingURL=sub-page-1.css.map */